*{
    margin:0;
    padding:0;
}

body{
    margin: 0; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: tan;
    line-height: 1.5;
}

#home{
    background-image: url("img/Pottery.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#home h1{
    font-size: 50px ;
}

#home p {
    font-size: 25px;
}

#home .button{
font-size: 18px;
text-decoration: none;
color: white;
border: white 1px solid;
padding: 10px 20px;
border-radius: 10px;
margin-top: 10px;

}

#home  .button:hover{
    background: tan;
    color: white;

}

#section-1{
    padding: 20px;
    background-color: tan ;
    color:white;
    text-align: center;

}

#section-2{
    padding: 20px;
    background-color: white ;
    color:tan;
    text-align: center;

}

#section-3{
    padding: 20px;
    background-color: tan ;
    color:white;
    text-align: center;

}

.img{
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 45%;
    image-rendering: optimizeQuality;

   
    
}